<div class="u-width-100 text-issues-container">
  <div class="u-spacing-p-l text-issues-container--top-header u-font-size-4 u-display-flex u-flex-justify-content-space-between">
    <span>Text on the page</span>
    <span class="u-color-blue-default">Run Acrolinx Checks</span>
  </div>
  <div class="text-issues-container--holder u-spacing-ph-l">
    <div *ngFor="let issue of textIssues" class="u-width-100">
      <div class="u-width-100 u-spacing-mv-s">
        {{issue}}
      </div>
    </div>
  </div>
</div>
