@function color($keys) {
  @return get($colors, $keys);
}

@function c($keys) {
  @return color($keys);
}

@function palette($palette, $tone: 'base', $default: $colors) {
  @return map-get(map-get($default, $palette), $tone);
}
