$u-text-overflow: true !default;

@if ($u-text-overflow) {
  %u-text-overflow-ellipsis,
  .u-text-overflow-ellipsis {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
  }
}
