$u-widths: 10, 20, 25, 30, 33.3333, 40,45, 50, 60,65, 66.6666, 70, 75, 80, 90, 100 !default;

@each $width in $u-widths {
  %u-width-#{floor($width)},
  .u-width-#{floor($width)} {
    width: percentage($width / 100) !important;
  }
}

@each $width in $u-widths {
  %u-min-width-#{floor($width)},
  .u-min-width-#{floor($width)} {
    min-width: percentage($width / 100) !important;
  }
}

@each $width in $u-widths {
  %u-max-width-#{floor($width)},
  .u-max-width-#{floor($width)} {
    max-width: percentage($width / 100) !important;
  }
}
