/**
    Nutanix Color Palette
**/

$nu-semi-black: #1b2025;
$nu-semi-white: #f8f9fa;
$nu-yellow: (
    default: #ffbc0b,
    yellow-2: #ffcd48,
    yellow-3: #ffde85,
    light: #ffebb6,
    lighter: #fff2ce,
    lightest: #fff8e7,
    darkest: #b36108,
    darker: #cc7c09,
    dark: #e69b0a);
$nu-red: (
    default: #f55656,
    red-2: #f88080,
    red-3: #faabab,
    light: #fccccc,
    lighter: #fddddd,
    lightest: #feeeee,
    darkest: #ab3c52,
    darker: #c44556,
    dark: #dc4d57);

$nu-blue: (
    default: #22a5f7,
    blue-2: #59bcf9,
    blue-3: #91d2fb,
    blue-4:#e9f6fe,
    light: #bde4fd,
    lighter: #d3edfd,
    lightest: #f6fbfe,
    darkest: #1856ad,
    darker: #2068ca,
    dark: #2282e3);

$nu-yellow: (
    default: #ffbc0b,
    yellow-2: #ffcd48,
    yellow-3: #ffde85,
    light: #ffebb6,
    lighter: #fff2ce,
    lightest: #fff8e7,
    darkest: #b36108,
    darker: #cc7c09,
    dark: #e69c00);
$nu-grey: (
    default: #627386,
    grey-2: #7c8d9f,
    grey-3: #9aa5b5,
    light: #b8bfca,
    lighter: #d5dae0,
    lightest: #f2f4f6,
    darkest: #22272e,
    darker: #37414b,
    dark: #4d5969);
$nu-green: (
    default: #36d068,
    green-2: #68dc8e,
    green-3: #9be8b4,
    light: #c3f1d2,
    lighter: #d7f6e1,
    lightest: #ebfaf0,
    darkest: #26925e,
    darker: #2ba664,
    dark: #31bb67);
// Background palette for light themes.
$nu-native-theme-background: (
    top-bar: map-get($nu-grey, darkest),
    topbar-dropdown: $nu-semi-black,
    app-dropdown: map-get($nu-grey, darker),
    nav-bar: white,
    border: map-get($nu-grey, light),
    inner-border: map-get($nu-grey, lightest),
    secondary-button-border: map-get($nu-grey, lighter),
    table-border: map-get($nu-grey, lighter),
    table-row-border: map-get($nu-grey, lightest),
    navigation-border: map-get($nu-blue, default),
    navigation-hover-border: map-get($nu-blue, lighter),
    widget-border: map-get($nu-grey, lighter),
    background: map-get($nu-grey, lightest),
    secondary-background: $nu-semi-white,
    widget: white,
    modal: white,
    tooltip: white,
    switch-tab: white,
    disabled: map-get($nu-grey, lightest),
    dark-tooltip: rgba(0, 0, 0, 0.8),
    disabled-button: map-get($nu-blue, default), //opacity less 0.3
    primary-button: map-get($nu-blue, default),
    primary-hovered-button: map-get($nu-blue, dark),
    primary-pressed-button: map-get($nu-blue, darker),
    danger-button: map-get($nu-red, default),
    danger-hovered-button: map-get($nu-red, dark),
    danger-pressed-button: map-get($nu-red, darker),
    secondary-button: white,
    switch-colored: map-get($nu-blue,default),
    switch-disabled: map-get($nu-grey,lighter),
    switch-circle: white,
    primary-dropdown: map-get($nu-grey, darker),
    secondary-dropdown: white,
    dropdown-hovered: map-get($nu-blue,default),
    table-hovered-row: map-get($nu-blue, lightest),
    table-header: white,
    metadata-table: $nu-semi-white,
    noty-info:map-get($nu-blue, blue-4),
    noty-info-border:map-get($nu-blue, lighter),
    noty-success:map-get($nu-green, lightest),
    noty-success-border:map-get($nu-green, lighter),
    noty-warn:map-get($nu-yellow, lightest),
    noty-warn-border:map-get($nu-yellow, lighter),
    noty-error:map-get($nu-red, lightest),
    noty-error-border:map-get($nu-red, lighter),
    warning-header: map-get($nu-yellow, default),
    support-app-icon: map-get($nu-grey, default)
    );
// Foreground palette for light themes.
$nu-native-theme-foreground: (
    base: black,
    primary: map-get($nu-blue, default),
    border: map-get($nu-blue, light),
    divider: #ccc,
    disabled-button: rgba(black, 0.26),
    primary-button-text: white,
    secondary-button-text: map-get($nu-grey, darkest),
    secondary-button-hovered-text: map-get($nu-blue, default),
    link: map-get($nu-blue, default),
    link-hover: darken(map-get($nu-blue, default), 20%),
    disabled-text: map-get($nu-grey, grey-3),
    error-text: map-get($nu-red, default),
    secondary-text: map-get($nu-grey, default),
    secondary-text-light: map-get($nu-grey, grey-2),
    icon: map-get($nu-grey, grey-2),
    nu-icon: map-get($nu-grey, light),
    icon-new: map-get($nu-grey, lighter),
    icon-new-hover: map-get($nu-blue, default),
    text: map-get($nu-grey, darkest),
    danger-text: map-get($nu-red, default),
    success-text: map-get($nu-green, default),
    warning-text: map-get($nu-yellow, default),
    table-header: map-get($nu-grey, default),
    topbar-text: white,
    label-tag: map-get($nu-grey, dark),
    topbar-dropdown-text: map-get($nu-grey, grey-3),
    axis-labels: map-get($nu-grey, grey-3),
    metadata-table-text: map-get($nu-grey, default),
    noty-info-text:map-get($nu-blue, darker),
    noty-error-text:map-get($nu-red, darker),
    noty-warn-text:map-get($nu-yellow, darker),
    noty-success-text:map-get($nu-green, darker),
    subtext-bold: map-get($nu-grey, darker)
    );
