$nu-typography-config: ( 
    font-family: NutanixSoft, 
    font-family-title: 'NutanixSoft-Bold',
     headline: 16px, 
     section-title-1: 18px, 
     section-title-2: 14px, 
     section-title-3: 12px, 
     title: 30px, 
     body-text: 12px, 
     button: 14px, 
     link: 14px, 
     paragraph: 14px, 
     tooltip: 14px, 
     navigation: 14px, 
     label: 14px, 
     badges: 12px, 
     input: 12px
     );