<div class="nav-bar u-bg-color-grey-darkest u-display-flex ">
  <div class="u-spacing-mh-l u-spacing-mv-l u-color-grey-semi-white u-display-flex u-width-100">
    <div class="product-name">
      <span class="">Nutanix DesignQA</span>
    </div>
    <div class="u-spacing-mh-m">|</div>
    <div class="u-display-flex u-color-grey-light u-width-100 u-flex-justify-content-space-between">
      <div class="u-display-flex">
        <div class="u-spacing-mh-m">
          <span routerLink="issues">Issues</span>
        </div>
        <div class="u-spacing-mh-m">
          <span routerLink="version">Version</span>
        </div>
      </div>
      <div class="u-display-flex">
        <div class="u-spacing-mh-m">
          <span>Admin</span>
        </div>
      </div>

    </div>
  </div>
</div>
