$colors: (
  red: (
    default: #f55656,
    red-2: #f88080,
    red-3: #faabab,
    light: #fccccc,
    lighter: #fddddd,
    lightest: #feeeee,
    darkest: #ab3c52,
    darker: #c44556,
    dark: #dc4d57
  ),
  blue: (
    default: #22a5f7,
    blue-2: #59bcf9,
    blue-3: #91d2fb,
    blue-4:#e9f6fe,
    light: #bde4fd,
    lighter: #d3edfd,
    lightest: #f6fbfe,
    darkest: #1856ad,
    darker: #2068ca,
    dark: #2282e3
  ),
  green: (
    default: #36d068,
    green-2: #68dc8e,
    green-3: #9be8b4,
    light: #c3f1d2,
    lighter: #d7f6e1,
    lightest: #ebfaf0,
    darkest: #26925e,
    darker: #2ba664,
    dark: #31bb67
  ),
  grey: (
    default: #627386,
    grey-2: #7c8d9f,
    grey-3: #9aa5b5,
    light: #b8bfca,
    lighter: #d5dae0,
    lightest: #f2f4f6,
    semi-white: #f8f9fa,
    darkest: #22272e,
    darker: #37414b,
    dark: #4d5969
  ),
  yellow: (
    default   : #ffbc0b,
    yellow-2  : #ffcd48,
    yellow-3  : #ffde85,
    light     : #ffebb6,
    lighter   : #fff2ce,
    lightest  : #fff8e7,
    darkest   : #b36108,
    darker    : #cc7c09,
    dark      : #e69b0a
  )
);



$size-1: 32px;
$size-2: 21px;
$size-3: 18px;
$size-4: 16px;
$size-5: 14px;
$size-6: 13px;
$size-7: 11px;

$u-spacings: (
  xxl : 40px,
  xl  : 30px,
  l   : 20px,
  m   : 15px,
  s   : 10px,
  xs  : 9px,
  0   : 0
) !default;

$u-font-size: (
  1: 30px,
  2: 18px,
  3: 16px,
  4: 14px,
  5: 12px,
  6: 8px
) !default;

$u-border-radius: (
  s: 0.3rem,
  l: 500px
);
