.issues-top-bar {
  border-bottom: 1px solid #f2f4f6;
}
.issues-list {
  border-right: 1px solid #f2f4f6;
  overflow-y: scroll;
  .image-holder {
    height: 60px;
    width: 40%;
    img {
      height: 100%;
      width: 100%;
      border-radius: 0.3rem;
    }
  }
  .issues-list-item {
    border-bottom: 1px solid #f2f4f6;
    .issue-item__text-holder {
      text-transform: capitalize;
    }
  }
  .active-issue {
    border-right: 4px solid #22a5f7;
  }
}
.issue-image-holder {
  max-height: 400px;
}

.issue-detail-panel {
  border-left: 1px solid #f2f4f6;
  .issue-detail-panel__top-bar {
    border-bottom: 1px solid #f2f4f6;
    color: #627386;
    font-weight: 500;
    font-size: 14px;
    .active {
      font-weight: 500;
      color: #22272e;
      border-bottom: 4px solid #22a5f7;
    }
  }
}
