<div *ngIf="!loading">
  <div class="u-width-100 u-display-flex u-spacing-ph-l u-spacing-pv-l u-font-weight-600 issues-top-bar">
    <div class="u-spacing-mr-l">
      <span class="u-font-weight-600">Session</span>
    </div>
    <div>|</div>
    <div class="u-spacing-mh-l u-display-flex u-flex-justify-content-space-between u-color-grey-grey-2 u-width-100">
      <div>
        <span>Beam, {{issues.length}} pages</span>
      </div>
      <div class="u-spacing-mr-l">

      </div>
    </div>

  </div>
  <div class="u-width-100 u-display-flex u-height-100vh u-font-size-5">
    <div class="u-width-20 issues-list u-height-100" >
      <div class="u-display-flex" *ngFor="let issue of issues; let i = index" >
        <div class=" u-display-flex issues-list-item u-spacing-pv-m u-spacing-pl-m u-cursor-pointer" [ngClass]="{'active-issue': i== selectedIndex}" (click)="setActiveCell(i)">
          <div class="image-holder u-border-radius-s">
            <img [src]="issue.pageInfo.screenshot" class="u-border-radius-s" />
          </div>
          <div class="u-display-flex u-flex-direction-column u-flex-justify-content-space-between u-spacing-m-s issue-item__text-holder">
            <div class="u-font-size-4">{{issue.pageInfo.page}}</div>
            <div>{{issue.pageInfo.createdAt | amTimeAgo}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="u-width-80">
      <div class="u-display-flex u-width-100">
        <div class="u-width-65">
          <div class="u-spacing-p-m">
            <div class="u-font-size-4 u-font-weight-500 u-text-capitalize ">{{issues[selectedIndex].pageInfo.page}}</div>
            <div class="u-font-size-5 u-color-grey-default">{{issues[selectedIndex].pageInfo.url}}</div>
            <div class="u-display-flex u-flex-justify-content-center u-spacing-mt-m">
              <img [src]="issues[selectedIndex].pageInfo.screenshot" class="u-border-radius-s issue-image-holder u-width-100" />
            </div>
            <div class="u-spacing-mt-s u-width-100 u-display-flex u-flex-justify-content-flex-end">
              <div class="u-font-size-4 u-color-grey-default">{{issues[selectedIndex].pageInfo.createdAt| amLocale:'en' | amDateFormat:'MMMM Do YYYY, h:mm a'}}</div>
            </div>
          </div>
        </div>
        <div class="u-width-45 issue-detail-panel">
          <div class="issue-detail-panel__top-bar u-display-flex u-spacing-ph-l">
            <div class="u-spacing-p-l u-cursor-pointer" *ngFor="let tab of issueTabs" [ngClass]="{'active': tab == selectedTab}" (click)="changeTab(tab)">
              <span>{{tab}}</span>
            </div>
          </div>
          <div *ngIf="selectedTab == 'Design'">
            <app-design-issues *ngFor="let row of issues[selectedIndex].designIssues | keyvalue" [issues]="row.value" ></app-design-issues>
          </div>
          <div *ngIf="selectedTab == 'Content'">
            <app-content-issues [textIssues]="issues[selectedIndex].pageText"></app-content-issues>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
