/* You can add global styles to this file, and also import other style files */

@import "./stylesheets/theme";


@font-face {
  font-family: "NutanixSoft";
  src: url(./assets/fonts/Nutanix/NutanixSoft-Regular.otf);
}

body {
  font-family: "NutanixSoft", serif;
  margin: 0;
  overflow-x: hidden;

}

.u-text-capitalize {
  text-transform: capitalize;
}

.red-dot {
  width: 7px;
  height: 7px;
  background-color: #f55656;
  border-radius: 50%;
}
