<div class="u-width-100 design-issues-container">
  <div class="design-issues__holder u-display-flex u-flex-justify-content-space-between u-spacing-p-l u-cursor-pointer" (click)="expandRow()">
    <span class="u-text-capitalize">
      {{type}}
    </span>
    <div class="u-display-flex u-flex-align-items-center">
      <div class="red-dot u-spacing-mr-s"></div>
      <span class="issues-count u-spacing-mr-m">{{issuesLength}} issues</span>
      <span *ngIf="!expanded">Expand</span>
      <span *ngIf="expanded"> Contract</span>
    </div>
  </div>
  <div class="issue-detail" *ngIf="expanded">
    <div *ngFor="let issue  of issues; let i = index" class="u-spacing-ph-l u-spacing-pv-s issue-detail-item">
      <div>Issue #{{i + 1}}</div>
      <div class="issue-detail-item-cell u-spacing-mt-s">
        <div *ngFor="let mapper of issuesMapper" >
          <div>{{mapper['display']}} : {{issue[mapper.key]}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
