<div class="u-width-100 design-issues-container">
  <div class="design-issues__holder u-display-flex u-flex-justify-content-space-between u-spacing-p-l u-cursor-pointer" (click)="expandRow()">
    <span class="u-text-capitalize">
      Colors
    </span>
    <div class="u-display-flex u-flex-align-items-center">
      <div class="red-dot u-spacing-mr-s"></div>
      <span *ngIf="!expanded">Expand</span>
      <span *ngIf="expanded"> Contract</span>
    </div>
  </div>
  <div class="issue-detail" *ngIf="expanded">
    <div *ngFor="let color  of displayColors; let i = index" class="u-spacing-ph-l u-spacing-pv-s issue-detail-item">
      <div class="issue-detail-item-cell u-spacing-mt-s u-display-flex u-align-items-center">
        <div class="colorHolder" [style.backgroundColor]="color.hex">
        </div>
        <div class="u-spacing-ml-m">
          <div>
            {{color.hex}}
          </div>
          <div>
            {{color.rgb}}
          </div>
        </div>
        <div class="u-spacing-ml-m">
          <button>Edit</button>
        </div>
      </div>
    </div>
  </div>
</div>
