.design-issues-container {
  font-size: 14px;
  .design-issues__holder {
    border-bottom: 1px solid #f2f4f6;
  }
  .issue-detail {
    max-height: 400px;
    overflow-y: auto;
    .issue-detail-item {
      .issue-detail-item-cell {
        font-size: 12px;
        color: #627386;
        line-height: 1.6;
      }
      border-bottom: 1px solid rgba(151, 151, 151, 0.09);
    }
  }
  .issues-count {
    color:  #f55656;
  }
}
.colorHolder {
  height: 40px;
  width: 40px;
  border-radius: 0.3rem;
}
